/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        esc_windows {
            bindings = <&kp ESC>;
            key-positions = <1 0>;
            layers = <5>;
        };

        win_windows {
            bindings = <&kp LWIN>;
            key-positions = <29 28>;
            layers = <5>;
        };

        win_enter {
            bindings = <&kp ENTER>;
            key-positions = <22 23>;
        };

        win_bksp {
            bindings = <&kp BACKSPACE>;
            key-positions = <10 11>;
        };
    };

    behaviors {
        tpd_wm: tpd_wm {
            compatible = "zmk,behavior-tap-dance";
            label = "TPD_WM";
            #binding-cells = <0>;
            bindings = <&mo 3>, <&mo 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mac_base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E    &kp R                 &kp T        &kp Y        &kp U               &kp I         &kp O    &kp P     &kp MINUS
&mo 1      &kp A  &kp S  &kp D    &kp F                 &kp G        &kp H        &kp J               &kp K         &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C    &kp V                 &kp B        &kp N        &kp M               &kp COMMA     &kp DOT  &kp FSLH  &kp BACKSLASH
                         &tpd_wm  &mt LEFT_SHIFT SPACE  &lt 1 ESC    &lt 2 ENTER  &mt LCMD BACKSPACE  &kp LEFT_ALT
            >;
        };

        mac_lower {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6      &kp N7            &kp N8      &kp N9        &kp N0        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT    &kp DOWN          &kp UP      &kp RIGHT     &trans        &trans
&trans  &to 5   &trans  &trans  &trans  &trans    &kp K_PREV  &kp K_PLAY_PAUSE  &kp K_NEXT  &kp C_VOL_DN  &kp C_VOL_UP  &kp K_MUTE
                        &trans  &trans  &trans    &trans      &kp DEL           &trans
            >;
        };

        mac_raise {
            bindings = <
&kp GRAVE  &kp EXCL   &kp AT       &kp HASH              &kp DOLLAR             &kp ASTERISK     &kp PLUS   &kp LBKT        &kp RBKT         &trans  &trans         &kp UNDERSCORE
&kp TILDE  &kp CARET  &kp PERCENT  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPERSAND    &kp EQUAL  &kp LEFT_BRACE  &kp RIGHT_BRACE  &trans  &kp SEMICOLON  &kp DOUBLE_QUOTES
&trans     &trans     &trans       &trans                &trans                 &trans           &trans     &trans          &kp LT           &kp GT  &kp QUESTION   &kp PIPE
                                   &trans                &trans                 &trans           &trans     &trans          &trans
            >;
        };

        mac_wm {
            bindings = <
&trans  &kp LA(N1)  &kp LA(N2)  &kp LA(N3)  &kp LA(N4)  &kp LA(N5)    &kp LA(N6)    &kp LA(N7)         &kp LA(N8)  &kp LA(N9)     &kp LA(N0)  &trans
&trans  &kp LA(Q)   &kp LA(W)   &kp LA(E)   &kp LA(R)   &kp LA(T)     &kp LA(LEFT)  &kp LA(DOWN)       &kp LA(UP)  &kp LA(RIGHT)  &trans      &trans
&trans  &trans      &trans      &trans      &trans      &trans        &kp LA(N)     &kp LA(M)          &trans      &trans         &trans      &trans
                                &trans      &trans      &trans        &trans        &kp LA(BACKSPACE)  &trans
            >;
        };

        mac_tm {
            bindings = <
&trans  &kp LG(N1)  &kp LG(N2)  &kp LG(N3)  &kp LG(N4)  &kp LG(N5)    &kp LG(N6)    &kp LG(N7)          &kp LG(N8)        &kp LG(N9)     &kp LG(N0)  &kp LG(MINUS)
&trans  &trans      &trans      &trans      &trans      &trans        &kp LG(LEFT)  &kp LG(DOWN_ARROW)  &kp LG(UP_ARROW)  &kp LG(RIGHT)  &trans      &kp LG(EQUAL)
&trans  &trans      &trans      &trans      &trans      &trans        &trans        &trans              &trans            &trans         &trans      &trans
                                &trans      &trans      &trans        &trans        &kp LG(BACKSPACE)   &trans
            >;
        };

        windows_base {
            display-name = " windowsBase";
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R      &kp T        &kp Y        &kp U                &kp I      &kp O    &kp P     &kp MINUS
&kp LEFT_SHIFT  &kp A  &kp S  &kp D         &kp F      &kp G        &kp H        &kp J                &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z  &kp X  &kp C         &kp V      &kp B        &kp N        &kp M                &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                              &kp LEFT_ALT  &kp SPACE  &lt 6 ESC    &lt 7 ENTER  &mt LCTRL BACKSPACE  &mo 7
            >;
        };

        windows_lower {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6      &kp N7            &kp N8      &kp N9        &kp N0        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT    &kp DOWN          &kp UP      &kp RIGHT     &trans        &trans
&trans  &to 0   &trans  &trans  &trans  &trans    &kp K_PREV  &kp K_PLAY_PAUSE  &kp K_NEXT  &kp C_VOL_DN  &kp C_VOL_UP  &kp K_MUTE
                        &trans  &trans  &trans    &trans      &kp DEL           &trans
            >;
        };

        windows_raise {
            bindings = <
&kp GRAVE  &kp EXCL   &kp AT       &kp HASH              &kp DOLLAR             &kp ASTERISK     &kp PLUS   &kp LBKT        &kp RBKT         &trans  &trans         &kp UNDERSCORE
&kp TILDE  &kp CARET  &kp PERCENT  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPERSAND    &kp EQUAL  &kp LEFT_BRACE  &kp RIGHT_BRACE  &trans  &kp SEMICOLON  &kp DOUBLE_QUOTES
&trans     &trans     &trans       &trans                &trans                 &trans           &trans     &trans          &kp LT           &kp GT  &kp QUESTION   &kp PIPE
                                   &trans                &trans                 &trans           &trans     &trans          &trans
            >;
        };
    };
};
